@use 'custom' as *;



.hero {
    background: lightblue url("/images/freddie-addery-2JRPYZAKJDA-unsplash-edit.jpg") no-repeat fixed left;
    background-size: cover;
    padding: 50px;
    text-align: center;
    margin-top: 50px;

    .hero-content {
        background-color: rgba($black, 0.76);
        border-radius: 18px;
        padding: 30px 20px;
        margin: 0 auto; 
    }
}

.hero-form {
    margin-top: 30px;
    float: right; 
    max-width: 400px;

    input {
        padding: 10px;
        margin: 10px 0;
        width: 100%;
        border: 1px solid #ccc;
        border-left: solid 6px #d88d0a;
    }
}




/* Media query - responsive stuff */
@media (min-width: 992px) {
    .hero-content{
        width: 900px;
        max-width: 900px;

        background-color: rgba($black, 0.76);
        border-radius: 18px;
        padding: 30px 20px;
        margin: 0 auto; 
        .row{
            width: 900px; 
            max-width: 900px;
            margin-left: -44px;


        }
    }
    .hero-text h1 {
        margin-bottom: 20px; 
    }

    .hero-form {
        margin-top: 50px; 
    }
}
@media (max-width: 991px) {
    .hero-content{max-width: 450px;}
}






.call-to-action {
    background: lightblue url("/images/call-to-action.jpg") no-repeat center;
    background-size: cover;
    padding: 50px;
    text-align: center;
    margin-top: 50px;

    .hero-content {
        background-color: rgba($black, 0.76);
        border-radius: 18px;
        padding: 30px 20px;
        margin: 0 auto; 
    }
}