@use 'custom' as *;

.step-container {
  transition: all 0.3s ease;
  padding: 15px;
}

.step-container:hover {
  transform: translateY(-10px);
}

.bi {
  transition: transform 0.3s ease;
}

.step-container:hover .bi {
  transform: scale(1.1);
}

.text-start {
  text-align: left;
}

@media (max-width: 767px) {
  .step-container h4 {
    font-size: 1.2em;
  }
  
  .bi {
    font-size: 1.5rem;
  }
}
